#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 18px
}

.card {
  background: gray;
  padding: 25px;
  min-width: 275px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}